@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap')

*
  font-family: sans-sarif
  box-sizing: border-box
  text-decoration: none

mat-icon
  color: grey

img
  height: 60%
  width: 70%
  margin-left: 30px
  margin-top: 20px
  border-radius: 100px
mat-icon
  color: #8997ac
  font-family: 'Material Icons'
  vertical-align: middle
.user
  
