<div class="navbar">
  <div class="top">
    <mat-icon>notifications_none</mat-icon>
  </div>
  <div class="user">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYmkp9a2rrD1Sskb9HLt5mDaTt4QaIs8CcBg&usqp=CAU" alt="">
    <h4 class="name" >Admin</h4>
    <p class="mail" >admin@gmail.com</p>
  </div>
  <div class="menu">
    <div class="menu-head">
      <span>Dashboard</span>
  </div>
  <div class="menu-item">
    <button class="menu-button" [routerLink]="['/dashboard']">
      <mat-icon>dashboard</mat-icon>
      <span>Home</span>
    </button>
    <button class="menu-button">
      <mat-icon>message</mat-icon>
      <span>Post</span>
    </button>
    <button class="menu-button">
      <mat-icon>comments</mat-icon>
      <span>Comments</span>
    </button>
    <button class="menu-button">
      <mat-icon> pages</mat-icon>
      <span>Page</span>
    </button>
    <button class="menu-button">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
  </div>
 </div>
</div>
