@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap')

*
  font-family: sans-sarif
  box-sizing: border-box
  text-decoration: none

mat-icon
  color: grey


mat-icon
  color: #8997ac
  font-family: 'Material Icons'
  vertical-align: middle
.user
  text-align: center
  font-weight: 800
  margin-bottom: 50px
  img
    height: 60%
    width: 70%
    margin-left: 10px
    margin-top: 20px
    border-radius: 100px
  .name
    color: white
  .mail
    margin-top: -16px
    color: #8997ac
    
